@model IEnumerable<WebFnB.Models.LoaiSP>

@{
    ViewBag.Title = "LoaiSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Loại sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "ThemLoaiSP")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiSP)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "EditLoaiSP", new { id=item.MaLoaiSP }) |
            @Html.ActionLink("Chi Tiết", "ChiTietLoaiSP", new { id=item.MaLoaiSP }) |
            @Html.ActionLink("Xóa", "DeleteLoaiSP", new { id=item.MaLoaiSP })
        </td>
    </tr>
}

</table>
