@using WebFnB.Models
@using PagedList.Mvc
@model PagedList.PagedList<NCungCap>

@{
    ViewBag.Title = "NCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>NHÀ CUNG CẤP</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã Nhà Cung Cấp
            @*@Html.DisplayNameFor(model => model.MaNCC)*@
        </th>
        <th>
            Tên Nhà Cung Cấp
            @*@Html.DisplayNameFor(model => model.TenNCC)*@
        </th>
        <th>
            Địa chỉ Nhà Cung Cấp
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
        </th>
        <th>
            SDT Nhà Cung Cấp
            @*@Html.DisplayNameFor(model => model.SDT)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    <br />
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page }))
    </div>
    @*<div class="containterdropdown">
            <div class="dropdown">
                Results Per Page
            </div>
            @Html.DropDownList("pageSize", new SelectList(new List<int> { 5, 10, 20 }, Model.PageSize), new { onchange = "this.form.submit();" })
        </div>*@
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</table>
