@model IEnumerable<WebFnB.Models.NCungCap>

@{
    ViewBag.Title = "NCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Nhà Cung Cấp</h2>

<p>
    @Html.ActionLink("Tạo mới", "ThemNCC")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "EditNCC", new { id=item.MaNCC }) |
            @Html.ActionLink("Chi Tiết", "ChiTietNCC", new { id=item.MaNCC }) |
            @Html.ActionLink("Xóa", "DeleteNCC", new { id=item.MaNCC })
        </td>
    </tr>
}

</table>
