@using WebFnB.Models
@using PagedList.Mvc
@model PagedList.PagedList<SP>
@{
    ViewBag.Title = "Quản Lí Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>SanPham</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoaiSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuongTon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                <!-- Hiển thị hình ảnh từ đường dẫn -->
                <img src="@item.Anh" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoaiSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td style="width: 150px;>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Chi tiết", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Xóa", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page }))
</div>

