<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Food & Beverage</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MainLayout.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/JS/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/JS/font.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Lightbox/lightbox.min.css" />
    <link rel="stylesheet" href="~/aos-library/aos.css" />
    <link href="~/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/carousel.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
       
        <div class="container">
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarToggle">
                <a class="navbar-brand" href="@Url.Action("Index", "Product")">

                    <img src="~/Images/logo.jpg" width="100" height="90" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Liên lạc", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Đăng nhập", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Đăng xuất", "DangNhap", "NguoiDung", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
            </div>  
            <ul>
                @using (Html.BeginForm("KQTimKiem", "TimKiem"))
                {
                    <p></p>
                    <input type="text" name="tensp" placeholder="nhập vào tên món" />
                    <input type="submit" value="Tìm kiếm" />

                }
            </ul>
        </div>

        <div class="navbar-nav border rounded p-1">
            @Html.Action("GioHangPartial", "Cart")
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("LayLSP", "Product")
                @Html.Action("LayNCC", "Product")
            </div>
            <div class="col-md-9">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/Images/banner1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Images/banner2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Images/banner3.png" alt="Third slide">
                        </div>
                        
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                @*<img style="width:100%;" src="~/Images/banner.jpg" />*@
                @*<div style="color:red; text-align:center; margin:15px 0;">
                    SÁCH MỚI
                </div>*@
                @RenderBody()
                <br />
            </div>
            <div class="container body-content col-md-9">        
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Food and Beverage</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
