@using WebFnB.Models
@model SP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btnStyle {
        border-radius: 6px;
        cursor: pointer;
        color: #ffffff;
        background-size: 200%;
        padding: 13px;
        width: 193px;
        transition: all .5s !important;
        outline: none;
        border: none;
    }

        .btnStyle:focus {
            outline: none;
        }

    .btn1 {
        background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
    }

    .btn2 {
        background-image: linear-gradient(to left, #badc58,#6ab04c,#badc58);
    }

    .btnStyle:hover {
        background-position: right;
    }
</style>
<h2>THÔNG TIN CHI TIẾT SẢN PHẨM</h2>
<br />
<div class="row">
    <div class="offset-md-1 col-md-4">
        <img style="width: 100%;" src="~/images/@Model.Anh" alt="" />
    </div>
    <div class="col-md-6 details">
        <h3>Tên sách: @Model.TenSP</h3>
        <p style="text-align: justify">
            <span style="font-weight: bold">Mô tả:</span> @Model.MoTa
        </p>
        <p class="price">
            Giá bán:<span style="color: red; font-size: 32px;">@Model.GiaBan.Value.ToString("#,##0.###") VND</span>
        </p>
        <a class="btnStyle btn1 mr-3 form-inline" data-aos="fade-left" data-aos-duration="1000" href="@Url.Action("ThemSanPhamVaoGio", "Cart", new{ MaSP = Model.MaSP })">
            Thêm sản phẩm vào giỏ
        </a>
        <button class="btnStyle btn2" data-aos="fade-left" data-aos-duration="1000"><a href="@Url.Action("Index","Product")" class="text-white" style="text-decoration: none">XEM THÊM SẢN PHẨM</a></button>
    </div>
</div>
