@using WebFnB.Models
@using PagedList.Mvc
@model PagedList.PagedList<SP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Món ăn</h1>
<div class="row">
    @foreach (var sp in Model)
    {

        <div class="card col-sm-3 col-md-3 col-lg-4 d-flex align-items-stretch">
            <div class="img-container">
                <a href="@Url.Action("Details", "Product", new { id = sp.MaSP })">
                    <img class="card-img-top display-picture mt-2"
                         src="~/Images/@sp.Anh" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <strong class="card-title">@sp.TenSP</strong>
                <p class="card-text">@sp.GiaBan</p>
            </div>
        </div>
        <!-- Thêm mã phân trang -->
    }
</div>
<br />

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<div class="containterdropdown">
    <div class="dropdown">
        Results Per Page
    </div>
    @Html.DropDownList("pageSize", new SelectList(new List<int> { 5, 10, 20 }, Model.PageSize), new { onchange = "this.form.submit();" })
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>  