@using WebFnB.Models
@model List<MatHangMua>
@{
    ViewBag.Title = "HienThiGioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">THÔNG TIN GIỎ HÀNG</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Ảnh minh họa</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sp in Model)
        {
            <tr>
                <td>@sp.MaSP</td>
                <td>@sp.TenSP</td>
                <td><img src="~/Images/@sp.Anh" style="height:64px;width:64px" /></td>
                @using (Html.BeginForm("CapNhatMatHang", "Cart", new { MaSP = sp.MaSP }))
                {
            <td>
                <input type="number" min="1" value="@sp.SoLuong" name="SoLuong" />
                <script>
                const inputSoLuong = document.querySelector('input[name="SoLuong"]');
                inputSoLuong.addEventListener('change', () => {sendUpdateRequest(maSP, soLuong);});
                const sendUpdateRequest = (maSP, soLuong) => {const formData = { maSP, soLuong };
                fetch(`/api/CapNhatMatHang/CapNhatSoLuong`, {method: 'POST',headers: {'Content-Type': 'application/json'},body: JSON.stringify(formData)}).then(response => response.json()).then(data => {}).catch(error => {console.error(error); });};
                </script>
                <button type="button" hidden>(@Html.ActionLink("Cập nhật", "CapNhatMatHang", "Cart", new { MaSP = sp.MaSP }, new { @class = "cap-nhat-button" }))</button>
            </td>
                }
                <td>@sp.GiaBan</td>
                <td>@sp.ThanhTien()</td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", "Product", new { id = sp.MaSP }, new { @class = "btn btn-success" })
                </td>
                <td>
                    <a href="@Url.Action("XoaMatHang", "Cart", new { MaSP = sp.MaSP })">
                        <img src="@Url.Content("~/Images/delete.png")" alt="Xóa hàng" width="50px" height="50px" />
                    </a>
                </td>
            </tr>
        }
        <tr style="font-weight:bold; text-align:right; color:red;">
            <td colspan="5">Tổng số lượng: @ViewBag.TongSL</td>
            <td colspan="1">Tổng tiền: @ViewBag.TongTien</td>
        </tr>
        <tr style="font-weight:bold; text-align:center;">
            <td colspan="9">
                @Html.ActionLink("ĐẶT HÀNG", "DatHang", null, new { @class = "btn btn-primary" })
            </td>
        </tr>
    </tbody>
</table>



